/*Media Queries: estilos del contenedor vista desktop*/
@media(min-width:1024px){
    .padre{
    display: grid;
    height: 100vh;
    background-color: #bcc9de;
    grid-template-areas:
    "header header header header"
    "section section section section"
    "main main main main"
    "footer footer footer footer";
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*Media Queries: estilos del contenedor vista tablet*/
@media(min-width:768px){
    .padre{
    display: grid;
    height: 100vh;
    background-color: #bcc9de;
    grid-template-areas:
    "header header"
    "section section"
    "main main"
    "footer footer";
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
    }
}


